/data
data*/
andrew_test_cv/from_empty/
andrew_test_cv/output.jpg
# This is where I have been default setting as the output directory for testing my script for Luke's model
resizing/output
modifyimages/output
modifyimages/output/
griffindino.zip
griffindino
output/
output
modifyimages/output/
